{% extends 'base.html' %}

{% block content %}
  <h1>Categories:</h1>
  <hr>
  {% if categories %}
    <ul>
      {% for category in categories %}
        <li>
          <a href="#">{{ category.name }}</a> (<a style="color: aqua" href="#">{{ category.things.count }}</a>)
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no categories in the database.</p>
  {% endif %}
{% endblock %}