{% extends 'base.html' %}

{% block title %}
  <title>Home page</title>
{% endblock %}

{% block content %}
  <h1>Welcome to a world where things live a full life!</h1>
  <hr>
  <ul>
    <li>There are {{ num_things }} things in the database.</li>
    <li>There are {{ num_categories }} categories in the database.</li>
    <li>There are {{ num_tags }} tags in the database.</li>
  </ul>
{% endblock %}