{% extends 'base.html' %}

{% block content %}
  <h1>Things:</h1>
  <hr>
  {% if things %}
    <ul>
      {% for thing in things %}
        <li>
          <a href="#">{{ thing.name }}</a> (<a style="color: aqua" href="#">{{ thing.category }}</a>)</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no things in the database.</p>
  {% endif %}
{% endblock %}