{% block sidebar %}
  <ul class="sidebar-nav">
    <li><a href="{% url 'rent_app:index' %}">Home</a></li>
    <li><a href="{% url 'rent_app:things_list' %}">Things</a></li>
    <li><a href="{% url 'rent_app:category_list' %}">Categories</a></li>
    <li><a href="#">Tags</a></li>
  </ul>
{% endblock %}